<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Contact</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>This is the contact page for the <a href="http://railstutorial.org/feedback">feedback page</a>Ruby on Rails tutorial</p>
  </body>
</html>


